@import './mixins.scss';

@font-face {
    font-family: calibre;
    src: url('./fonts/calibre.otf');
  }

  @font-face {
    font-family: acumin-main;
    src: url('./fonts/Acumin\ Pro\ Book.otf');
  }
  
  @font-face {
    font-family: gotham;
    src: url('./fonts/gotham-b.ttf');
  }
  
  @font-face {
    font-family: acumin;
    src: url('./fonts/Acumin Pro Light.otf');
  }

  @font-face {
    font-family: apercu;
    src: url('./fonts/apercu.otf');
  }

  .section__name {
    @include section-name
  }

  .hover__card {
      @include hover-card
  }

  .mid__card__ {
      @include mid-card
  }

  .__section__grid__item {
    @include section-card
}

#bootstrap-nav {
    display: none;
}

.__left__title {
    font-size: 23px;
    font-family: $boldText;
    span {
        color: white;
        background-color: red;
        padding: 5px 5px;
    }
}

.header {
    display: flex;
    height: 120px;
    width: 100%;
    flex-flow: column nowrap;
    .header__section {
        display: flex;
        flex-basis: 50%;
        height: 100%;
    }
    .section-one {
        .__left {
            display: flex;
            flex-flow: row nowrap;
            flex-basis: 45%;
            .__left__grid {
                @include grid; 
                justify-content: space-evenly;
                width: 30%;
                .__left__grid__item {
                    height: 25px;
                    margin-top: 15px;
                    font-size: 8.5px;
                    font-family: $lightText;
                    text-align: center;
                    padding-top: 13px;
                    border:  .5px solid #D7DBDD80;
                    &:hover {
                        cursor: pointer;
                    }
                    p {
                        width: 60%;
                        position: relative;
                        top: -10px;
                        left: 10px;
                        font-weight: 700;
                    }
                }  
            }
        }
        .__right {
            display: flex;
            flex-basis: 65%;
            .section__right__grid {
                display: flex;
                width: 100%;
                flex-flow: row nowrap;
                justify-content: space-between;
                position: relative;
                bottom: -15px; 
                p {
                    font-family: $mediumText;
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
}



@media only screen and (min-width : 320px) and (max-width : 1024px) {
        .header {
            display: none !important
        }
        #bootstrap-nav {
            display: block !important;
            .navbar-toggler {
                float: right;
            }
        }
    }