@import './mixins.scss';

@font-face {
    font-family: calibre;
    src: url('./fonts/calibre.otf');
  }

  @font-face {
    font-family: acumin-main;
    src: url('./fonts/Acumin\ Pro\ Book.otf');
  }
  
  @font-face {
    font-family: gotham;
    src: url('./fonts/gotham-b.ttf');
  }
  
  @font-face {
    font-family: acumin;
    src: url('./fonts/Acumin Pro Light.otf');
  }

  @font-face {
    font-family: apercu;
    src: url('./fonts/apercu.otf');
  }

  .section__name {
    @include section-name
  }

  .hover__card {
      @include hover-card
  }

  .__mid__card__content {
      @include mid-card
  }

  .__section__grid__item {
    @include section-card
}