body {
  padding-left: 5%; }
  body .section__right__grid p {
    text-transform: uppercase; }
  body .actionable__text {
    color: #34495E;
    text-decoration: underline; }
    body .actionable__text:hover {
      cursor: pointer; }
  body .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
    margin-top: -5%; }
    body .main__body .content__title__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      width: 100%;
      -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
      margin-bottom: 2%; }
      body .main__body .content__title__section .content__title {
        font-family: gotham;
        font-size: 25px;
        width: 91%;
        line-height: 30px; }
      body .main__body .content__title__section .content__subtitle {
        font-family: apercu;
        font-size: 13px;
        color: #CACFD2;
        margin-top: -1%; }
    body .main__body .section__one {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      body .main__body .section__one .section__one__maxi {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        width: 100%;
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
        margin-right: 5%; }
        body .main__body .section__one .section__one__maxi .section__preview__ {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          width: 100%;
          min-height: 360px; }
          body .main__body .section__one .section__one__maxi .section__preview__ .section__preview__image {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -ms-flex-preferred-size: 80%;
            flex-basis: 80%; }
            body .main__body .section__one .section__one__maxi .section__preview__ .section__preview__image img {
              height: 100%;
              width: 100%;
              -o-object-fit: cover;
              object-fit: cover; }
            body .main__body .section__one .section__one__maxi .section__preview__ .section__preview__image .playable__content {
              position: absolute;
              border: 1.8px solid white;
              background-color: #00000099;
              top: 40%;
              right: 45%;
              height: 45px;
              width: 50px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; }
          body .main__body .section__one .section__one__maxi .section__preview__ .section__hotlink {
            font-size: 12px;
            font-family: acumin;
            color: #D0D3D4; }
            body .main__body .section__one .section__one__maxi .section__preview__ .section__hotlink:hover {
              cursor: pointer;
              text-decoration: underline; }
          body .main__body .section__one .section__one__maxi .section__preview__ .content__creator__and__links {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            width: 100%;
            height: 60px;
            margin-top: -5px;
            -ms-flex-pack: distribute;
            justify-content: space-around; }
            body .main__body .section__one .section__one__maxi .section__preview__ .content__creator__and__links p {
              -ms-flex-preferred-size: 32%;
              flex-basis: 32%;
              font-size: 12px;
              color: #B3B6B7;
              font-family: acumin-main; }
              body .main__body .section__one .section__one__maxi .section__preview__ .content__creator__and__links p .time__posted {
                color: #D0D3D4;
                margin-left: 10px; }
            body .main__body .section__one .section__one__maxi .section__preview__ .content__creator__and__links .content__links {
              -ms-flex-preferred-size: 60%;
              flex-basis: 60%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end; }
              body .main__body .section__one .section__one__maxi .section__preview__ .content__creator__and__links .content__links .content__item__link {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 38px;
                width: 35px;
                margin-right: 16px;
                border: .9px solid #B3B6B750; }
                body .main__body .section__one .section__one__maxi .section__preview__ .content__creator__and__links .content__links .content__item__link:hover {
                  border-color: #B3B6B7;
                  cursor: pointer; }
        body .main__body .section__one .section__one__maxi .content__containing__div p {
          width: 98%;
          font-size: 13px;
          line-height: 21px;
          font-family: acumin; }
          body .main__body .section__one .section__one__maxi .content__containing__div p .large__indent {
            margin: 18px 0 18px 0;
            display: block; }
      body .main__body .section__one .section__one__mini {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        border-top: .5px solid #D7DBDD; }
        body .main__body .section__one .section__one__mini .top___stories {
          font-size: 14px;
          font-family: apercu;
          margin-bottom: -3%; }
        body .main__body .section__one .section__one__mini .card__containing__grid {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          height: 65%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
          body .main__body .section__one .section__one__mini .card__containing__grid .__content__card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            body .main__body .section__one .section__one__mini .card__containing__grid .__content__card .content__desc {
              font-size: 11px;
              font-family: apercu;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-preferred-size: 60%;
              flex-basis: 60%; }
              body .main__body .section__one .section__one__mini .card__containing__grid .__content__card .content__desc p {
                width: 90%;
                margin-top: -1%; }
            body .main__body .section__one .section__one__mini .card__containing__grid .__content__card .card__image {
              height: 90%;
              -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -o-object-fit: cover;
              object-fit: cover; }
              body .main__body .section__one .section__one__mini .card__containing__grid .__content__card .card__image img {
                height: 80%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover; }
    body .main__body .section__two {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      width: 100%;
      min-height: 300px; }
      body .main__body .section__two .section__two__content__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
        body .main__body .section__two .section__two__content__grid .mid__card__ {
          -ms-flex-preferred-size: 24%;
          flex-basis: 24%; }
