@import './mixins.scss';

body {
    padding-left: 5%;
    .__header {
        margin-bottom: 5% !important;
        position: relative;
        left: -5.6%
    }
    .section__right__grid {
        p {
            text-transform: uppercase;
        }
    }
    .actionable__text {
        color: #34495E;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
    }
    .main__body {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        min-height: 100vh;
        margin-top: -5%;
        .content__title__section {
            @include standard-column;
            flex-basis: 10%;
            margin-bottom: 2%;
            .content__title {
                font-family: $boldText;
                font-size: 25px;
                width: 91%;
                line-height: 30px;
            }
            .content__subtitle {
                font-family: $mediumText;
                font-size: 13px;
                color:  #CACFD2;
                margin-top: -1%;
            }
        }
        .section__one {
            display: flex;
            flex-basis: 80%;
            flex-flow: row nowrap; //remember to change this to wrap;
            .section__one__maxi {
                @include standard-column;
                flex-basis: 60%;
                margin-right: 5%;
                .section__preview__ {
                    @include standard-column;
                    min-height: 360px;
                    .section__preview__image {
                        display: flex;
                        position: relative;
                        flex-flow: column nowrap;
                        flex-basis: 80%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                        .playable__content {
                            position: absolute;
                            border: 1.8px solid white;
                            background-color: #00000099;
                            top: 40%;
                            right: 45%;
                            height: 45px;
                            width: 50px;
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .section__hotlink {
                        font-size: 12px;
                        font-family: $lightText;
                        color: #D0D3D4;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline
                        }
                    }
                    .content__creator__and__links {
                        display: flex;
                        flex-flow: row nowrap;
                        width: 100%;
                        height: 60px;
                        margin-top: -5px;
                        justify-content: space-around;
                        p {
                            flex-basis: 32%;
                            font-size: 12px;
                            color: #B3B6B7;
                            font-family: acumin-main;
                            .time__posted {
                                color: #D0D3D4;
                                margin-left: 10px;
                            }
                        }
                        .content__links {
                            flex-basis: 60%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end; 
                            .content__item__link {
                                display: flex;
                                height: 38px;
                                width: 35px;
                                margin-right: 16px;
                                border: .9px solid #B3B6B750;
                                &:hover {
                                    border-color: #B3B6B7;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .content__containing__div {
                    p {
                        width: 98%;
                        font-size: 13px;
                        line-height: 21px;
                        font-family: $lightText;
                        .large__indent {
                            margin: 18px 0 18px 0;
                            display: block;
                        }
                    }
                }
            }
            .section__one__mini {
                display: flex;
                flex-basis: 30%;
                flex-flow: column nowrap;
                border-top: .5px solid #D7DBDD;
                .top___stories {
                    font-size: 14px;
                    font-family: $mediumText;
                    margin-bottom: -3%;
                }
                .card__containing__grid {
                    display: flex;
                    width: 100%;
                    height: 65%;
                    flex-flow: column nowrap;
                    .__content__card {
                        display: flex;
                        flex-flow: row nowrap;
                        flex-basis: 10%;
                        justify-content: space-between;
                        .content__desc {
                            font-size: 11px;
                            font-family: $mediumText;
                            display: flex;
                            flex-basis: 60%;
                            p {
                                width: 90%;
                                margin-top: -1%;
                            }

                        }
                        .card__image {
                            height: 90%;
                            flex-basis: 30%;
                            display: flex;
                            object-fit: cover;
                            img {
                                height: 80%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        .section__two {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            min-height: 300px;
            .section__two__content__grid {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                .mid__card__ {
                    flex-basis: 24%;
                }
            }
        }
    }

}

@media only screen and (min-width : 320px) and (max-width : 480px) { 
    .main__body {
        padding-top: 5% !important;
    }
    .section__one {
        flex-wrap: wrap !important;
        .section__one__maxi {
            flex-basis: 100% !important;
        }
        .section__one__mini {
            flex-basis: 80% !important;
            padding-top: 2% !important;
            .card__containing__grid {
                height: auto !important;
                justify-content: space-around;
            }
        }
    }
    .section__two {
        .section__two__content__grid {
            position: relative;
            left: -4% !important;
            .mid__card__ {
                flex-basis: 44% !important;
            }
        }
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .main__body {
        padding-top: 5%
    }
}