body {
  margin: 0; }
  body .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    body .header .header__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    body .header .section-one .__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; }
      body .header .section-one .__left .__left__title {
        font-size: 23px;
        font-family: gotham; }
        body .header .section-one .__left .__left__title span {
          color: white;
          background-color: red;
          padding: 5px 5px; }
      body .header .section-one .__left .__left__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        justify-content: space-evenly;
        width: 42%; }
        body .header .section-one .__left .__left__grid .__left__grid__item {
          height: 25px;
          margin-top: 15px;
          font-size: 8.5px;
          font-family: acumin;
          text-align: center;
          padding-top: 13px;
          border: .5px solid #D7DBDD80; }
          body .header .section-one .__left .__left__grid .__left__grid__item:hover {
            cursor: pointer; }
          body .header .section-one .__left .__left__grid .__left__grid__item p {
            width: 60%;
            position: relative;
            top: -10px;
            left: 10px;
            font-weight: 700; }
    body .header .section-one .__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 55%;
      flex-basis: 55%; }
      body .header .section-one .__right .section__right__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        bottom: -15px; }
        body .header .section-one .__right .section__right__grid p {
          font-family: acumin;
          font-size: 12px;
          margin-right: 5px;
          color: #D5D8DC; }
    body .header .section-two {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      body .header .section-two .section-two__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-preferred-size: 64%;
        flex-basis: 64%; }
        body .header .section-two .section-two__grid p {
          font-size: 10.5px;
          font-family: acumin-main;
          font-weight: bold;
          text-transform: uppercase; }
          body .header .section-two .section-two__grid p:hover {
            cursor: pointer;
            text-decoration: underline; }
      body .header .section-two .--input__tag {
        color: #909497;
        background-color: #BDC3C7;
        outline: none;
        height: 30px;
        width: 180px;
        border-radius: 3px;
        border: none;
        padding-left: 10px; }
  body .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 5%; }
    body .main__body .main__body__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    body .main__body .--section__one {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      body .main__body .--section__one .section__one__large__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
        body .main__body .--section__one .section__one__large__card .__card__image {
          height: 250px;
          width: 80%;
          -o-object-fit: cover;
          object-fit: cover; }
        body .main__body .--section__one .section__one__large__card .__card__text h4 {
          font-size: 17px;
          font-family: acumin-main;
          width: 80%;
          margin-bottom: -3px; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__title__description {
          font-size: 11.5px;
          font-family: acumin;
          color: #909497; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__time {
          font-size: 10.5px;
          color: #BDC3C7;
          font-family: acumin; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__links {
          font-size: 10.5px;
          font-family: acumin-main; }
      body .main__body .--section__one .section__one__mid__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: relative;
        left: -9%; }
        body .main__body .--section__one .section__one__mid__card .__mid__card__content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          height: 200px; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 70%; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content .__card__md__title {
            font-size: 11px;
            font-family: acumin-main; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content .__card__md__desc {
            font-size: 10px;
            margin-top: -5px;
            font-family: acumin;
            color: #BDC3C7; }
