body {
  margin: 0; }
  body .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    body .header .header__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    body .header .section-one .__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; }
      body .header .section-one .__left .__left__title {
        font-size: 23px;
        font-family: gotham; }
        body .header .section-one .__left .__left__title span {
          color: white;
          background-color: red;
          padding: 5px 5px; }
      body .header .section-one .__left .__left__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        justify-content: space-evenly;
        width: 42%; }
        body .header .section-one .__left .__left__grid .__left__grid__item {
          height: 25px;
          margin-top: 15px;
          font-size: 8.5px;
          font-family: acumin;
          text-align: center;
          padding-top: 13px;
          border: .5px solid #D7DBDD80; }
          body .header .section-one .__left .__left__grid .__left__grid__item:hover {
            cursor: pointer; }
          body .header .section-one .__left .__left__grid .__left__grid__item p {
            width: 60%;
            position: relative;
            top: -10px;
            left: 10px;
            font-weight: 700; }
    body .header .section-one .__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 55%;
      flex-basis: 55%; }
      body .header .section-one .__right .section__right__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        bottom: -15px; }
        body .header .section-one .__right .section__right__grid p {
          font-family: acumin;
          font-size: 12px;
          margin-right: 5px;
          color: #D5D8DC; }
    body .header .section-two {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      body .header .section-two .section-two__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-preferred-size: 64%;
        flex-basis: 64%; }
        body .header .section-two .section-two__grid p {
          font-size: 10.5px;
          font-family: apercu;
          font-weight: bold;
          text-transform: uppercase; }
          body .header .section-two .section-two__grid p:hover {
            cursor: pointer;
            text-decoration: underline; }
      body .header .section-two .--input__tag {
        color: #909497;
        background-color: #BDC3C7;
        outline: none;
        height: 30px;
        width: 180px;
        border-radius: 3px;
        border: none;
        padding-left: 10px; }
  body .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 5%; }
    body .main__body .main__body__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    body .main__body .--section__one {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      body .main__body .--section__one .section__one__large__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
        body .main__body .--section__one .section__one__large__card .__card__image {
          height: 250px;
          width: 80%;
          -o-object-fit: cover;
          object-fit: cover; }
        body .main__body .--section__one .section__one__large__card .__card__text h4 {
          font-size: 17px;
          font-family: apercu;
          width: 80%;
          margin-bottom: -3px; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__title__description {
          font-size: 11.5px;
          font-family: acumin;
          color: #909497; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__time {
          font-size: 10.5px;
          color: #BDC3C7;
          font-family: acumin; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__links {
          font-size: 10.5px;
          font-family: apercu; }
      body .main__body .--section__one .section__one__mid__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: relative;
        left: -9%; }
        body .main__body .--section__one .section__one__mid__card .__mid__card__content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          height: 200px; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 70%; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content .__card__md__title {
            font-size: 11px;
            font-family: apercu; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content .__card__md__desc {
            font-size: 10px;
            margin-top: -5px;
            font-family: acumin;
            color: #BDC3C7; }
      body .main__body .--section__one .__cards__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin: -2% 0 0 -6.5%; }
        body .main__body .--section__one .__cards__list .__cards__header {
          font-size: 18px;
          font-family: apercu; }
          body .main__body .--section__one .__cards__list .__cards__header span {
            color: red; }
        body .main__body .--section__one .__cards__list .__ordered__list {
          height: 60%;
          padding: 0;
          position: relative;
          top: -6%; }
          body .main__body .--section__one .__cards__list .__ordered__list li {
            border-bottom: .5px solid #E5E7E9;
            font-family: apercu;
            font-size: 11.5px;
            padding: 9px;
            padding-left: 0;
            outline: none;
            list-style-type: none; }
            body .main__body .--section__one .__cards__list .__ordered__list li .video__indicator {
              color: #BDC3C7;
              font-size: 10.5px;
              float: right; }
    body .main__body .section__two {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      height: 350px; }
      body .main__body .section__two .section__two__large__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 100%; }
        body .main__body .section__two .section__two__large__grid .section__two__content__card {
          width: 60%;
          height: 100%;
          margin-right: 2%;
          position: relative; }
          body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__image {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
          body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container {
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            position: absolute;
            top: 0;
            z-index: 2;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            background-color: #00000030;
            color: white; }
            body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              -ms-flex-preferred-size: 40%;
              flex-basis: 40%;
              padding-left: 5%;
              background-image: -webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(rgba(12, 12, 12, 0.75)), to(rgba(12, 12, 12, 0)));
              background-image: -webkit-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
              background-image: -o-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
              background-image: linear-gradient(to top, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0)); }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .hover__card__title {
                font-size: 20px;
                font-family: gotham;
                margin-bottom: -1%; }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .hover__card__time {
                position: relative;
                color: #909497;
                font-size: 12px;
                font-family: acumin; }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .hover__card__bullets {
                font-family: acumin;
                font-size: 13px;
                color: #BDC3C7; }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .playable__content {
                border: 1.5px solid white;
                background-color: #000000;
                text-align: center;
                width: 12%;
                font-size: 12px;
                padding: 3px;
                font-family: calibre; }
        body .main__body .section__two .section__two__large__grid .grid__section__two {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 32%;
          flex-basis: 32%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          margin-top: -3.5%; }
          body .main__body .section__two .section__two__large__grid .grid__section__two .section__name {
            font-size: 17px;
            font-family: apercu;
            margin-bottom: 3px; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .section__name span {
              color: red; }
          body .main__body .section__two .section__two__large__grid .grid__section__two .video__section {
            position: relative;
            height: 160px; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__image {
              height: 100%;
              width: 100%;
              -o-object-fit: cover;
              object-fit: cover; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container {
              height: 100%;
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              position: absolute;
              top: 0;
              z-index: 2;
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end;
              background-color: #00000030;
              color: white; }
              body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -ms-flex-preferred-size: 40%;
                flex-basis: 40%;
                padding-left: 5%;
                background-image: -webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(rgba(12, 12, 12, 0.75)), to(rgba(12, 12, 12, 0)));
                background-image: -webkit-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
                background-image: -o-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
                background-image: linear-gradient(to top, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0)); }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .hover__card__title {
                  font-size: 20px;
                  font-family: gotham;
                  margin-bottom: -1%; }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .hover__card__time {
                  position: relative;
                  color: #909497;
                  font-size: 12px;
                  font-family: acumin; }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .hover__card__bullets {
                  font-family: acumin;
                  font-size: 13px;
                  color: #BDC3C7; }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .playable__content {
                  border: 1.5px solid white;
                  background-color: #000000;
                  text-align: center;
                  width: 12%;
                  font-size: 12px;
                  padding: 3px;
                  font-family: calibre; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__title {
              font-size: 13px !important;
              font-family: acumin-main !important;
              position: relative;
              bottom: -12%; }
          body .main__body .section__two .section__two__large__grid .grid__section__two .__list__ {
            height: 60%;
            padding: 0; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .__list__ li {
              border-bottom: .5px solid #E5E7E9;
              font-family: apercu;
              font-size: 11.5px;
              padding: 9px;
              padding-left: 0;
              outline: none;
              list-style-type: none; }
              body .main__body .section__two .section__two__large__grid .grid__section__two .__list__ li .video__indicator {
                color: #BDC3C7;
                font-size: 10.5px;
                float: right; }
