body {
  margin: 0; }
  body .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    body .header .header__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    body .header .section-one .__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; }
      body .header .section-one .__left .__left__title {
        font-size: 23px;
        font-family: gotham; }
        body .header .section-one .__left .__left__title span {
          color: white;
          background-color: red;
          padding: 5px 5px; }
      body .header .section-one .__left .__left__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        justify-content: space-evenly;
        width: 42%; }
        body .header .section-one .__left .__left__grid .__left__grid__item {
          height: 25px;
          margin-top: 15px;
          font-size: 8.5px;
          font-family: acumin;
          text-align: center;
          padding-top: 13px;
          border: .5px solid #D7DBDD80; }
          body .header .section-one .__left .__left__grid .__left__grid__item:hover {
            cursor: pointer; }
          body .header .section-one .__left .__left__grid .__left__grid__item p {
            width: 60%;
            position: relative;
            top: -10px;
            left: 10px;
            font-weight: 700; }
    body .header .section-one .__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 55%;
      flex-basis: 55%; }
      body .header .section-one .__right .section__right__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        bottom: -15px; }
        body .header .section-one .__right .section__right__grid p {
          font-family: acumin;
          font-size: 12px;
          margin-right: 5px;
          color: #D5D8DC; }
    body .header .section-two {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      body .header .section-two .section-two__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-preferred-size: 64%;
        flex-basis: 64%; }
        body .header .section-two .section-two__grid p {
          font-size: 10.5px;
          font-family: apercu;
          font-weight: bold;
          text-transform: uppercase; }
          body .header .section-two .section-two__grid p:hover {
            cursor: pointer;
            text-decoration: underline; }
      body .header .section-two .--input__tag {
        color: #909497;
        background-color: #BDC3C7;
        outline: none;
        height: 30px;
        width: 180px;
        border-radius: 3px;
        border: none;
        padding-left: 10px; }
  body .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5%; }
    body .main__body .main__body__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 360px;
      width: 100%; }
    body .main__body .--section__one {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      body .main__body .--section__one .section__one__large__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
        body .main__body .--section__one .section__one__large__card .__card__image {
          height: 250px;
          width: 80%;
          -o-object-fit: cover;
          object-fit: cover; }
        body .main__body .--section__one .section__one__large__card .__card__text h4 {
          font-size: 17px;
          font-family: apercu;
          width: 80%; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__title__description {
          font-size: 11.5px;
          font-family: acumin;
          color: #909497; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__time {
          font-size: 10.5px;
          color: #BDC3C7;
          font-family: acumin; }
        body .main__body .--section__one .section__one__large__card .__card__text .__card__links {
          font-size: 10.5px;
          font-family: apercu; }
      body .main__body .--section__one .section__one__mid__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: relative;
        left: -9%; }
        body .main__body .--section__one .section__one__mid__card .__mid__card__content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          height: 200px; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 70%; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content .__card__md__title {
            font-size: 11px;
            font-family: apercu; }
          body .main__body .--section__one .section__one__mid__card .__mid__card__content .__card__md__desc {
            font-size: 10px;
            margin-top: -5px;
            font-family: acumin;
            color: #BDC3C7; }
      body .main__body .--section__one .__cards__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin: -2% 0 0 -6.5%; }
        body .main__body .--section__one .__cards__list .__cards__header {
          font-size: 18px;
          font-family: apercu; }
          body .main__body .--section__one .__cards__list .__cards__header span {
            color: red; }
        body .main__body .--section__one .__cards__list .__ordered__list {
          height: 60%;
          padding: 0;
          position: relative;
          top: -6%; }
          body .main__body .--section__one .__cards__list .__ordered__list li {
            border-bottom: .5px solid #E5E7E9;
            font-family: apercu;
            font-size: 11.5px;
            padding: 9px;
            padding-left: 0;
            outline: none;
            list-style-type: none; }
            body .main__body .--section__one .__cards__list .__ordered__list li .video__indicator {
              color: #BDC3C7;
              font-size: 10.5px;
              float: right; }
    body .main__body .section__two {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      body .main__body .section__two .section__two__large__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 2%;
        height: 320px; }
        body .main__body .section__two .section__two__large__grid .section__two__content__card {
          width: 60%;
          height: 100%;
          margin-right: 2%;
          position: relative; }
          body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__image {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
          body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container {
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            position: absolute;
            top: 0;
            z-index: 2;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            background-color: #00000030;
            color: white; }
            body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              -ms-flex-preferred-size: 40%;
              flex-basis: 40%;
              padding-left: 5%;
              background-image: -webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(rgba(12, 12, 12, 0.75)), to(rgba(12, 12, 12, 0)));
              background-image: -webkit-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
              background-image: -o-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
              background-image: linear-gradient(to top, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0)); }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .hover__card__title {
                font-size: 20px;
                font-family: gotham;
                margin-bottom: -1%;
                width: 90%;
                line-height: 26px; }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .hover__card__time {
                position: relative;
                color: #909497;
                font-size: 12px;
                font-family: acumin; }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .hover__card__bullets {
                font-family: acumin;
                font-size: 13px;
                color: #BDC3C7; }
              body .main__body .section__two .section__two__large__grid .section__two__content__card .hover__card__container .hover__content__container .playable__content {
                border: 1.5px solid white;
                background-color: #00000090;
                text-align: center;
                width: 12%;
                font-size: 12px;
                padding: 3px;
                font-family: calibre; }
        body .main__body .section__two .section__two__large__grid .grid__section__two {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 32%;
          flex-basis: 32%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          margin-top: -3.5%; }
          body .main__body .section__two .section__two__large__grid .grid__section__two .section__name {
            margin-bottom: 3px; }
          body .main__body .section__two .section__two__large__grid .grid__section__two .video__section {
            position: relative;
            height: 160px; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__image {
              height: 100%;
              width: 100%;
              -o-object-fit: cover;
              object-fit: cover; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container {
              height: 100%;
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              position: absolute;
              top: 0;
              z-index: 2;
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end;
              background-color: #00000030;
              color: white; }
              body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -ms-flex-preferred-size: 40%;
                flex-basis: 40%;
                padding-left: 5%;
                background-image: -webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(rgba(12, 12, 12, 0.75)), to(rgba(12, 12, 12, 0)));
                background-image: -webkit-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
                background-image: -o-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
                background-image: linear-gradient(to top, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0)); }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .hover__card__title {
                  font-size: 20px;
                  font-family: gotham;
                  margin-bottom: -1%;
                  width: 90%;
                  line-height: 26px; }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .hover__card__time {
                  position: relative;
                  color: #909497;
                  font-size: 12px;
                  font-family: acumin; }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .hover__card__bullets {
                  font-family: acumin;
                  font-size: 13px;
                  color: #BDC3C7; }
                body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__container .hover__content__container .playable__content {
                  border: 1.5px solid white;
                  background-color: #00000090;
                  text-align: center;
                  width: 12%;
                  font-size: 12px;
                  padding: 3px;
                  font-family: calibre; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .video__section .hover__card__title {
              font-size: 13px !important;
              font-family: acumin-main !important;
              position: relative;
              bottom: -12%; }
          body .main__body .section__two .section__two__large__grid .grid__section__two .__list__ {
            height: 60%;
            padding: 0; }
            body .main__body .section__two .section__two__large__grid .grid__section__two .__list__ li {
              border-bottom: .5px solid #E5E7E9;
              font-family: apercu;
              font-size: 11.5px;
              padding: 9px;
              padding-left: 0;
              outline: none;
              list-style-type: none; }
              body .main__body .section__two .section__two__large__grid .grid__section__two .__list__ li .video__indicator {
                color: #BDC3C7;
                font-size: 10.5px;
                float: right; }
      body .main__body .section__two .section__two__mid__grid .section__two__grid {
        min-height: 120px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap; }
        body .main__body .section__two .section__two__mid__grid .section__two__grid .mid__card__ {
          -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
          padding: 18px;
          height: 170px;
          border-right: 1px solid #E5E7E9;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          position: relative; }
          body .main__body .section__two .section__two__mid__grid .section__two__grid .mid__card__ .__mid__card__content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            height: 200px; }
            body .main__body .section__two .section__two__mid__grid .section__two__grid .mid__card__ .__mid__card__content img {
              -o-object-fit: cover;
              object-fit: cover;
              width: 100%;
              height: 70%; }
            body .main__body .section__two .section__two__mid__grid .section__two__grid .mid__card__ .__mid__card__content .__card__md__title {
              font-size: 11px;
              font-family: apercu; }
            body .main__body .section__two .section__two__mid__grid .section__two__grid .mid__card__ .__mid__card__content .__card__md__desc {
              font-size: 10px;
              margin-top: -5px;
              font-family: acumin;
              color: #BDC3C7; }
    body .main__body .section__three {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      height: 380px;
      width: 100%;
      margin-bottom: 6%; }
      body .main__body .section__three .section__three__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        body .main__body .section__three .section__three__content .hover__card {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
          height: 115% !important; }
          body .main__body .section__three .section__three__content .hover__card .hover__card__image {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
          body .main__body .section__three .section__three__content .hover__card .hover__card__container {
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            position: absolute;
            top: 0;
            z-index: 2;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            background-color: #00000030;
            color: white; }
            body .main__body .section__three .section__three__content .hover__card .hover__card__container .hover__content__container {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              -ms-flex-preferred-size: 40%;
              flex-basis: 40%;
              padding-left: 5%;
              background-image: -webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(rgba(12, 12, 12, 0.75)), to(rgba(12, 12, 12, 0)));
              background-image: -webkit-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
              background-image: -o-linear-gradient(bottom, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0));
              background-image: linear-gradient(to top, #0c0c0c, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0)); }
              body .main__body .section__three .section__three__content .hover__card .hover__card__container .hover__content__container .hover__card__title {
                font-size: 20px;
                font-family: gotham;
                margin-bottom: -1%;
                width: 90%;
                line-height: 26px; }
              body .main__body .section__three .section__three__content .hover__card .hover__card__container .hover__content__container .hover__card__time {
                position: relative;
                color: #909497;
                font-size: 12px;
                font-family: acumin; }
              body .main__body .section__three .section__three__content .hover__card .hover__card__container .hover__content__container .hover__card__bullets {
                font-family: acumin;
                font-size: 13px;
                color: #BDC3C7; }
              body .main__body .section__three .section__three__content .hover__card .hover__card__container .hover__content__container .playable__content {
                border: 1.5px solid white;
                background-color: #00000090;
                text-align: center;
                width: 12%;
                font-size: 12px;
                padding: 3px;
                font-family: calibre; }
        body .main__body .section__three .section__three__content .section__three__content__grid {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
          body .main__body .section__three .section__three__content .section__three__content__grid .mid__card__ {
            -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
            margin-right: 2%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            position: relative; }
            body .main__body .section__three .section__three__content .section__three__content__grid .mid__card__ .__mid__card__content {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              height: 200px; }
              body .main__body .section__three .section__three__content .section__three__content__grid .mid__card__ .__mid__card__content img {
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
                height: 70%; }
              body .main__body .section__three .section__three__content .section__three__content__grid .mid__card__ .__mid__card__content .__card__md__title {
                font-size: 11px;
                font-family: apercu; }
              body .main__body .section__three .section__three__content .section__three__content__grid .mid__card__ .__mid__card__content .__card__md__desc {
                font-size: 10px;
                margin-top: -5px;
                font-family: acumin;
                color: #BDC3C7; }
    body .main__body .section__four__ {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      body .main__body .section__four__ .__section__four__content__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%; }
        body .main__body .section__four__ .__section__four__content__grid .section__four__content__card {
          -ms-flex-preferred-size: 62%;
          flex-basis: 62%;
          margin-right: 2%; }
        body .main__body .section__four__ .__section__four__content__grid .section__four__content__card__mini {
          -ms-flex-preferred-size: 35%;
          flex-basis: 35%; }
          body .main__body .section__four__ .__section__four__content__grid .section__four__content__card__mini .hover__card__title {
            font-size: 16px !important; }
    body .main__body .section__five {
      padding: 5px;
      height: 500px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      body .main__body .section__five .__section__grid__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        height: 100%;
        padding-bottom: 1.5%;
        background-color: #F2F3F4; }
        body .main__body .section__five .__section__grid__container .__section__grid__ {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
          padding-top: 2px;
          margin-bottom: 2%;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
          body .main__body .section__five .__section__grid__container .__section__grid__ .__section__grid__item {
            height: 100%;
            background-color: white;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            border-radius: 4px;
            -ms-flex-preferred-size: 30.3%;
            flex-basis: 30.3%; }
            body .main__body .section__five .__section__grid__container .__section__grid__ .__section__grid__item .__grid__image {
              -o-object-fit: cover;
              object-fit: cover;
              width: 100%;
              height: 75%; }
            body .main__body .section__five .__section__grid__container .__section__grid__ .__section__grid__item .__grid__description {
              width: 80%;
              font-family: gotham;
              font-size: 13px;
              padding-left: 4%; }
        body .main__body .section__five .__section__grid__container .__section__grid__midi {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
          body .main__body .section__five .__section__grid__container .__section__grid__midi .__section__grid__item {
            -ms-flex-preferred-size: 23%;
            flex-basis: 23%; }
    body .main__body .section__six {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      height: 450px; }
      body .main__body .section__six .section__six__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%; }
        body .main__body .section__six .section__six__content .__hover__card__containers {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
          body .main__body .section__six .section__six__content .__hover__card__containers .hover__card {
            -ms-flex-preferred-size: 44%;
            flex-basis: 44%;
            margin-right: 3%; }
            body .main__body .section__six .section__six__content .__hover__card__containers .hover__card .playable__content {
              width: 5% !important;
              border-width: 1.4px !important;
              height: 15px; }
            body .main__body .section__six .section__six__content .__hover__card__containers .hover__card .hover__card__title {
              font-size: 15px !important; }
            body .main__body .section__six .section__six__content .__hover__card__containers .hover__card .hover__card__bullets p {
              font-size: 12px !important; }
        body .main__body .section__six .section__six__content .class__list__containers {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          position: relative;
          left: -4%;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          body .main__body .section__six .section__six__content .class__list__containers .__list__card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-preferred-size: 16%;
            flex-basis: 16%;
            width: 100%;
            padding: 15px;
            border-bottom: .8px solid #CACFD250;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            body .main__body .section__six .section__six__content .class__list__containers .__list__card .__list__card__image {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              width: 20%;
              height: 90%;
              -o-object-fit: cover;
              object-fit: cover; }
            body .main__body .section__six .section__six__content .class__list__containers .__list__card .__list__card__content {
              -ms-flex-preferred-size: 70%;
              flex-basis: 70%;
              font-family: apercu;
              margin-top: -5%; }
              body .main__body .section__six .section__six__content .class__list__containers .__list__card .__list__card__content .__card__title {
                font-size: 13.5px; }
              body .main__body .section__six .section__six__content .class__list__containers .__list__card .__list__card__content .__card__origin {
                margin-top: -4%;
                font-size: 11.5px;
                color: #CACFD2; }
    body .main__body .section__seven {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      height: 520px; }
      body .main__body .section__seven .section__seven__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
        body .main__body .section__seven .section__seven__content .section__seven__first__grid {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 42%;
          flex-basis: 42%;
          margin-bottom: 2%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          background-color: #F2F3F4;
          padding: 10px; }
          body .main__body .section__seven .section__seven__content .section__seven__first__grid .__section__grid__item {
            -ms-flex-preferred-size: 23%;
            flex-basis: 23%; }
        body .main__body .section__seven .section__seven__content .section__seven__second__grid {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
          width: 100%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
          body .main__body .section__seven .section__seven__content .section__seven__second__grid .section__seven__content__card__mini {
            -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }
            body .main__body .section__seven .section__seven__content .section__seven__second__grid .section__seven__content__card__mini .hover__card__title {
              font-size: 14px !important; }
    body .main__body .section__eight {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      min-height: 600px; }
      body .main__body .section__eight .section__eight__maxi {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -ms-flex-preferred-size: 78%;
        flex-basis: 78%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
        body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
          body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            width: 100%;
            height: 100%;
            flex-flow: row nowrap;
            padding-bottom: 5%; }
            body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content div {
              -ms-flex-preferred-size: 45%;
              flex-basis: 45%;
              margin-right: 3%; }
            body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content .hover__card__time {
              color: white !important;
              position: absolute;
              bottom: 0; }
            body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content .hover__content__container {
              position: relative;
              width: 95% !important; }
            body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content .__cards__list {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-flow: row wrap;
              flex-flow: row wrap;
              -webkit-box-align: space-evenly;
              -ms-flex-align: space-evenly;
              align-items: space-evenly;
              margin-top: -2.5%;
              -ms-flex-preferred-size: 55% !important;
              flex-basis: 55% !important;
              -ms-flex-pack: distribute;
              justify-content: space-around; }
              body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content .__cards__list .__list__card__content {
                -ms-flex-preferred-size: 33%;
                flex-basis: 33%;
                height: 50px;
                margin-right: 5%;
                border-bottom: .8px solid #CACFD250;
                font-family: apercu;
                padding: 10px; }
                body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content .__cards__list .__list__card__content .__card__title {
                  font-size: 10.5px; }
                body .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content .__cards__list .__list__card__content .__card__origin {
                  margin-top: -4%;
                  font-size: 9px;
                  color: #CACFD2; }
        body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          height: 650px; }
          body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .content__9 {
            border-left: none !important; }
          body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-preferred-size: 44%;
            flex-basis: 44%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            height: 100%;
            padding: none;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
            body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .section__name {
              padding-left: 7%; }
            body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
              width: 100%;
              height: 100%;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              padding: 0 5% 0 5%; }
              body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid .__main__ {
                -ms-flex-preferred-size: 38% !important;
                flex-basis: 38% !important; }
                body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid .__main__ .__spotlight__image {
                  width: 100%;
                  height: 60%;
                  -o-object-fit: cover;
                  object-fit: cover; }
                body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid .__main__ .__card__title {
                  font-size: 16.5px !important; }
              body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid .__list__card__content {
                min-height: 60px;
                margin-right: 5%;
                border-bottom: .8px solid #CACFD250;
                font-family: apercu;
                padding: 10px; }
                body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid .__list__card__content .__card__title {
                  font-family: gotham;
                  font-size: 13.5px;
                  line-height: 24px; }
                body .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid .__list__card__content .__card__origin {
                  margin-top: -2%;
                  font-size: 12px;
                  color: #CACFD2;
                  font-family: acumin; }
      body .main__body .section__eight .section__eight__mini {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
        margin-left: -4%; }
        body .main__body .section__eight .section__eight__mini .section__eight__content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          width: 100%;
          height: 100%;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
          body .main__body .section__eight .section__eight__mini .section__eight__content .section__eight__content__card__mini {
            -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
            margin-bottom: 5%; }
            body .main__body .section__eight .section__eight__mini .section__eight__content .section__eight__content__card__mini .hover__card__title {
              font-size: 13px !important; }
          body .main__body .section__eight .section__eight__mini .section__eight__content .__maxi__ {
            height: 500px !important; }
            body .main__body .section__eight .section__eight__mini .section__eight__content .__maxi__ .hover__content__container {
              -ms-flex-preferred-size: auto;
              flex-basis: auto; }
            body .main__body .section__eight .section__eight__mini .section__eight__content .__maxi__ .hover__card__title {
              font-size: 17px !important; }
    body .main__body .section__nine {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      height: 120px !important; }
      body .main__body .section__nine .section__nine__content__card__mini {
        height: 100%;
        width: 95% !important; }
        body .main__body .section__nine .section__nine__content__card__mini .hover__content__container {
          -ms-flex-preferred-size: auto;
          flex-basis: auto; }

@media only screen and (min-width: 1824px) {
  body {
    width: 70%;
    margin: 0 auto; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main__body .--section__one {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-flow: row wrap !important;
    flex-flow: row wrap !important; }
    .main__body .--section__one .section__one__large__card {
      -ms-flex-preferred-size: 95% !important;
      flex-basis: 95% !important;
      margin-bottom: 15px; }
      .main__body .--section__one .section__one__large__card .__card__image {
        width: 100% !important;
        margin-bottom: 10px; }
      .main__body .--section__one .section__one__large__card .__card__text h4 {
        margin-bottom: 10px !important; }
    .main__body .--section__one .__cards__list {
      display: none !important; }
    .main__body .--section__one .section__one__mid__card {
      -ms-flex-preferred-size: 95% !important;
      flex-basis: 95% !important;
      left: 0 !important; }
  .main__body .section__two .section__two__large__grid {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    height: auto !important; }
    .main__body .section__two .section__two__large__grid .section__two__content__card {
      -ms-flex-preferred-size: 95% !important;
      flex-basis: 95% !important;
      margin-bottom: 20px; }
    .main__body .section__two .section__two__large__grid .grid__section__two {
      -ms-flex-preferred-size: 95% !important;
      flex-basis: 95% !important; }
  .main__body .section__two .section__two__mid__grid {
    display: none !important; }
  .main__body .section__three {
    height: auto !important; }
    .main__body .section__three .section__three__content {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
      .main__body .section__three .section__three__content .section__three__content__card {
        -ms-flex-preferred-size: 95% !important;
        flex-basis: 95% !important;
        margin-bottom: 5% !important; }
        .main__body .section__three .section__three__content .section__three__content__card .hover__card__image {
          width: 100% !important; }
      .main__body .section__three .section__three__content .section__three__content__grid {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important; }
        .main__body .section__three .section__three__content .section__three__content__grid .mid__card__ {
          -ms-flex-preferred-size: 46% !important;
          flex-basis: 46% !important;
          margin-right: 3.5% !important; }
  .main__body .section__four__ {
    height: auto;
    margin-bottom: 5% !important; }
    .main__body .section__four__ .__section__four__content__grid {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
      .main__body .section__four__ .__section__four__content__grid .hover__card {
        -ms-flex-preferred-size: 95% !important;
        flex-basis: 95% !important; }
      .main__body .section__four__ .__section__four__content__grid .section__four__content__card {
        margin-bottom: 15% !important; }
        .main__body .section__four__ .__section__four__content__grid .section__four__content__card .hover__card__container {
          height: auto !important; }
  .main__body .section__five {
    height: 100% !important;
    width: 96% !important;
    margin-bottom: 5% !important; }
    .main__body .section__five .__section__grid__item {
      height: 250px !important;
      -ms-flex-preferred-size: 45.3% !important;
      flex-basis: 45.3% !important; }
    .main__body .section__five .__section__grid__ {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
      .main__body .section__five .__section__grid__ .__section__grid__item {
        margin-bottom: 12px !important; }
        .main__body .section__five .__section__grid__ .__section__grid__item:nth-child(3) {
          display: none !important; }
    .main__body .section__five .__section__grid__midi {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
      .main__body .section__five .__section__grid__midi .__section__grid__item:nth-child(1) {
        margin-bottom: 12px !important; }
  .main__body .section__six {
    height: 100% !important;
    width: 96% !important;
    margin-bottom: -20% !important; }
    .main__body .section__six .section__six__content {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
      .main__body .section__six .section__six__content .__hover__card__containers {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        margin-bottom: 12% !important; }
        .main__body .section__six .section__six__content .__hover__card__containers .hover__card {
          height: 50% !important;
          margin-bottom: 5% !important;
          -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important; }
      .main__body .section__six .section__six__content .class__list__containers {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important; }
  .main__body .section__seven {
    height: 100% !important;
    width: 96% !important; }
    .main__body .section__seven .section__seven__first__grid {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
      .main__body .section__seven .section__seven__first__grid .__section__grid__item {
        height: 250px !important;
        margin-bottom: 12px !important;
        -ms-flex-preferred-size: 45.3% !important;
        flex-basis: 45.3% !important; }
    .main__body .section__seven .section__seven__second__grid {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
      .main__body .section__seven .section__seven__second__grid .hover__card {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        margin-bottom: 3% !important;
        height: 50% !important; }
        .main__body .section__seven .section__seven__second__grid .hover__card:nth-child(3) {
          display: none !important; }
  .main__body .section__eight {
    width: 96% !important;
    height: 100% !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
    .main__body .section__eight .section__eight__maxi {
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important; }
      .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
        .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content .hover__card {
          display: none !important; }
        .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content #cards__list {
          margin-top: 4% !important;
          -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important;
          -webkit-box-pack: start !important;
          -ms-flex-pack: start !important;
          justify-content: flex-start !important; }
          .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content #cards__list .__list__card__content {
            -ms-flex-preferred-size: 30.3% !important;
            flex-basis: 30.3% !important;
            margin-right: 3% !important;
            padding: 0 !important;
            margin-bottom: 6% !important; }
            .main__body .section__eight .section__eight__maxi .eight__maxi__section__uno .__uno__content #cards__list .__list__card__content .__card__origin {
              display: none; }
      .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo {
        height: 100% !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
        .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .section__name {
          padding-left: 0 !important; }
        .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content {
          -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important;
          margin-bottom: 4% !important; }
          .main__body .section__eight .section__eight__maxi .eight__maxi__section__duo .__section__duo__content .__section__duo__content__grid {
            padding: 0 !important; }
    .main__body .section__eight .section__eight__mini {
      margin: 0 !important;
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body .header {
    display: none !important; }
  body #bootstrap-nav {
    display: block !important; }
    body #bootstrap-nav .navbar-toggler {
      float: right; }
  body .main__body .--section__one .section__one__large__card {
    margin-right: 1.5% !important; }
    body .main__body .--section__one .section__one__large__card .__card__title__description {
      width: 80%; }
    body .main__body .--section__one .section__one__large__card .__card__image {
      margin-bottom: 3%; }
    body .main__body .--section__one .section__one__large__card .__card__links {
      margin-top: -2%;
      width: 80% !important; }
      body .main__body .--section__one .section__one__large__card .__card__links p:nth-child(2) {
        display: none; }
  body .main__body .--section__one .__cards__list .__cards__header {
    margin-bottom: 14%; }
  body .main__body .section__two {
    margin-bottom: 5% !important; }
    body .main__body .section__two .hover__card__title {
      line-height: 23px !important;
      bottom: 0 !important; }
  body .main__body .section__three {
    margin-bottom: 10% !important; }
  body .main__body .section__four__ {
    margin-bottom: -6% !important; }
    body .main__body .section__four__ .section__four__content__card__mini .hover__card__container {
      height: auto !important; }
  body .main__body .section__five {
    margin-bottom: 5%; }
  body .main__body .section__six {
    margin-bottom: 5% !important; }
    body .main__body .section__six .__list__card {
      margin-bottom: 10px;
      padding-bottom: 2% !important; }
    body .main__body .section__six .__card__origin {
      display: none; }
  body .main__body .section__seven {
    margin-bottom: 5% !important; }
  body .main__body .section__eight .__card__origin {
    display: none; }
  body .main__body .section__eight .__list__card__content {
    margin-bottom: 20px; } }
